.choresText {
   color: rgb(103, 3, 57);
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-size: 2vw;
   text-align: left;
}

.choresHeading {
   color: rgb(93, 74, 138);
   text-decoration: underline;
   font-style: italic;
   font-size: 3vw;
}